.taggedAs {
  display: inline;
}

.tags {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags li {
  display: inline-block;
  margin-right: 10px;
}

.bySa {
  height: 15px;
  vertical-align: middle;
  padding-bottom: 2px;
}

@media (min-width: 768px) {
  .previousPost {
    text-align: left;
  }
  .nextPost {
    text-align: right;
  }
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

td {
  padding: 0.2em;
}
