.header {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  color: #fff;
  background-image: url(./header.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.headerSmall {
  composes: header;
  background: #222;
  position: static;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
}

.headerContent {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
}

.headerContentInnerH1 {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 65px;
}

.headerContentInnerHr {
  composes: blue from global;
  margin: 30px auto;
}

.headerContentInner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.imgCircle {
  display: block;
  margin: auto;
  border-radius: 70%;
  max-width: 280px;
}

.btnBlue {
  padding: 15px 30px;
  font-size: 2em;
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #4075f0;
  display: inline-block;
  line-height: 1.42857143;
}

.headerWinter {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;

  background-image: url(./snow1.png), url(./snow2.png), url(./snow3.png);

  background-repeat: repeat, repeat, repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-size: auto, auto, auto, 33%, 18.12%, 28.35%, 24.17%;

  animation: snow 60s linear infinite;

  pointer-events: none;
}

.headerWinter.headerChristmas {
  background-image: url(./snow1.png), url(./snow2.png), url(./snow3.png),
    url(./christmas-top-left.png), url(./christmas-top-right.png),
    url(./christmas-bottom-left.png), url(./christmas-bottom-right.png);
}

@keyframes snow {
  0% {
    background-position:
      0 0,
      0 0,
      0 0,
      0 50px,
      100% 50px,
      0 100%,
      100% 100%;
  }
  100% {
    background-position:
      3000px 6000px,
      2400px 2400px,
      1800px 1800px,
      0 50px,
      100% 50px,
      0 100%,
      100% 100%;
  }
}

@media (min-width: 768px) {
  .headerContent {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .headerContentInner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }
  .imgCircle {
    max-width: 200px;
  }

  .headerWinter {
    background-size: auto, auto, auto, 25%, 13.73%, 21.48%, 18.31%;
  }

  @keyframes snow {
    0% {
      background-position:
        0 0,
        0 0,
        0 0,
        0 0,
        100% 0,
        0 100%,
        100% 100%;
    }
    100% {
      background-position:
        3000px 6000px,
        2400px 2400px,
        1800px 1800px,
        0 0,
        100% 0,
        0 100%,
        100% 100%;
    }
  }
}
